body {
  margin: 30px;
  padding: 0;
  background: linear-gradient(150deg, rgb(248, 209, 253) 0%, rgb(204, 228, 253) 100%);
  font-family: 'Poppins', sans-serif;
}

#root {
  /* margin: 0 24px;
  min-height: 100vh; */
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
