.todoSearch {
    background: rgb(255, 255, 255);
    border-radius: 100px;
    border:none;
    margin: 0px 20% 40px 24%;
    height: 30px;
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #000000;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.137);

    transition: width 1s, height 2s;
}
.todoSearch::placeholder {
    color: #61efe8;
    font-size: 12px;
}
.todoSearch:focus {
    outline-color: #61efe8;
}
.todoSearch:hover{
    width: 52%;
    height: 32px;
}